* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


header {
    display: flex;
    align-items: center;
    padding: 30px 80px 30px 80px;
    justify-content: space-between;
    background-color: #c4c4c4c4;
}

.leftSideOfHeader {
    display: flex;
    gap: 18px;
}

.leftSideOfHeader p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}

.previev {
    width: 100%;
    height: 550px;
    background-color: red;
}

.previev img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.design-inspires {
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin-top: 80px;
}

.bulid-your-dream {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.get-started {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}